* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: arial;
}
.main {
  margin: 2%;
}

.card {
  width: 20%;
  display: inline-block;
  box-shadow: 2px 2px 20px black;
  border-radius: 5px;
  margin: 2%;
  grid-template-columns: repeat(2, 1fr);
  background-image: linear-gradient(rgb(1, 132, 255), rgb(1, 52, 82));
}

.image img {
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  height: 190px;
}
.title {
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

h1:hover {
  font-size: 20px;
  color: #000;
}

.des {
  padding: 3px;
  text-align: center;

  padding-top: 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
button {
  margin-top: 40px;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}
button:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
  cursor: pointer;
}
button {
  background-image: linear-gradient(white, #08f, black);
  border-color: rgb(1, 52, 82);
  border-radius: 10%;
  box-shadow: black 2px 2px 2px;
}

body {
  background-image: linear-gradient(rgb(1, 1, 216), black);
  background-image: url(./4VedbT.jpg);
}
h3 {
  font-size: 50px;
  color: aqua;
  text-align: center;
  font-size: 4.2rem;
  animation: flicker 1.5s infinite alternate;
}
#button {
  margin: auto;
  margin-left: 45%;
}

@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);

:root {
  font-size: 5px;

  --neon-text-color: #08f;
}

h3 {
  font-size: 13rem;
  font-weight: 200;
  font-style: italic;
  color: #fff;

  text-transform: uppercase;
  animation: flicker 1.5s infinite alternate;
  text-align: center;
}

h3::-moz-selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

h3::selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

h3:focus {
  outline: none;
}

@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff,
      0 0 2rem var(--neon-text-color), 0 0 4rem var(--neon-text-color),
      0 0 6rem var(--neon-text-color), 0 0 8rem var(--neon-text-color),
      0 0 10rem var(--neon-text-color);
  }

  20%,
  24%,
  55% {
    text-shadow: none;
    box-shadow: none;
  }
}
p {
  font-size: 10px;
}
